*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(144, 149, 153);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.board{
    background: rgb(208, 205, 205);
    /* vmin will give the minimum value to it  */
    height: 92vmin;
    width: 90vmin;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}


.food{
    background-color: rgb(124, 121, 121);
}

.head{
    background-color: rgb(0, 0, 0);
}

.snakebody{
    background-color: rgb(255, 255, 255);
}

