*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    height: 100vh;
    background-color: rgb(211, 211, 204);
}

.dino{
    background-image: url('./images/dino.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100px;
    height: 200px;
    position: absolute;
    left:15vw ;
    bottom: 0;
    

}

.animatedino{
    animation: dino 0.5s linear infinite ;
}

.cactus{
    background-image: url('./images/cactus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100px;
    height: 100px;
    position: absolute;
    right:35vw ;
    bottom: 50px;
    /* background-color: red; */
    animation: cactus 2.5s linear infinite ;
}

.gameover{
    display: none;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 200px;
    }
    100%{
        bottom: 0;
    }
}


@keyframes cactus {
    0%{
        left:100vw;
    }  
    100%{
        left:-5vw;
        
    }

}

